# While Loop

In [10]:
n = int(input("Max iterations Your Number: "))
i = 1

while i < n:
    print(i)
    i += 1
    
print("Done")

Max iterations Your Number:  3

1
2
Done

In [15]:
n = 10
i = 1
while True:
    if i%9 == 0:
        print("Inside if")
        break
    else:
        i +=1
        print("Inside else")
print("done")

Inside else
Inside else
Inside else
Inside else
Inside else
Inside else
Inside else
Inside else
Inside if
done

In [16]:
n = 10
i = 1
while True:
    if i%9 != 0:
        print("Inside if",i)
        i +=1
        continue
    print("the result",i)
    break
print("done")

Inside if 1
Inside if 2
Inside if 3
Inside if 4
Inside if 5
Inside if 6
Inside if 7
Inside if 8
the result 9
done

In [4]:
n = int(input("Max iteration:"))
i=1
while i <n:
    if i%2==0:
        print(i)
    else:
        pass
    i+=1
print("done")

Max iteration: 31

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
done

# For Loop

In [5]:
l= []
for i in range(10):
    print(i+1)
    l.append(i**2)
print(l)

1
2
3
4
5
6
7
8
9
10
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [9]:
l= []
for i in range(1,20,3):
    print(i)
    l.append(i**2)
print(l)

1
4
7
10
13
16
19
[1, 16, 49, 100, 169, 256, 361]

In [10]:
who%

No variables match your requested type.

In [11]:
%whos

Variable               Type        Data/Info
--------------------------------------------
dataframe_columns      function    <function dataframe_colum<...>ns at 0x0000024E7D20BCE0>
dataframe_hash         function    <function dataframe_hash at 0x0000024E7A062A20>
dtypes_str             function    <function dtypes_str at 0x0000024E7D20B6A0>
get_dataframes         function    <function get_dataframes at 0x0000024E7A062200>
getpass                module      <module 'getpass' from 'C<...>conda3\\Lib\\getpass.py'>
hashlib                module      <module 'hashlib' from 'C<...>conda3\\Lib\\hashlib.py'>
i                      int         19
import_pandas_safely   function    <function import_pandas_s<...>ly at 0x0000024E7D20B740>
is_data_frame          function    <function is_data_frame at 0x0000024E7D20BA60>
json                   module      <module 'json' from 'C:\\<...>\Lib\\json\\__init__.py'>
l                      list        n=7
n                      int         31

In [12]:
%whos int,str

No variables match your requested type.

In [13]:
%whos int str float

Variable   Type    Data/Info
----------------------------
i          int     19
n          int     31

In [14]:
s = {"nay mon",32,"net ye kan"}

In [16]:
print(type(s))

<class 'set'>

In [19]:
for x in s:
    print(x)
else:
    print("loop terminates with success")
print("outside loop")

32
net ye kan
nay mon
loop terminates with success
outside loop

In [21]:
i=1
for x in s:
    print(x)
    i+=1
    if i==3:
        break
    else:
        pass
else:
    print("loop terminates with success")
print("outside loop")

32
net ye kan
outside loop

In [22]:
D = {"apple":44,"cherry":34,"pineapple":54.3}
print(type(D))

<class 'dict'>

In [23]:
for x in D:
    print(x,D[x])

apple 44
cherry 34
pineapple 54.3