# This is Python Tutorial

This is Our first Program in Python.It is just started Here.

In [2]:
print("Hello world")

Hello world

$a=b+c$

# Variables

In [11]:
x = 2
a = 3.5
name = "nay mon"

In [5]:
print(type(x))

<class 'int'>

In [14]:
print(type(a),type(x),type(name))

<class 'float'> <class 'int'> <class 'str'>

In [22]:
c = x + 2*a

In [23]:
print(c)

9.0

to delete =>del()

In [25]:
%whos

Variable               Type        Data/Info
--------------------------------------------
a                      float       3.5
c                      float       9.0
dataframe_columns      function    <function dataframe_colum<...>ns at 0x00000276FA329E40>
dataframe_hash         function    <function dataframe_hash at 0x00000276FA32A2A0>
dtypes_str             function    <function dtypes_str at 0x00000276FA32A480>
get_dataframes         function    <function get_dataframes at 0x00000276FA32B100>
getpass                module      <module 'getpass' from 'C<...>conda3\\Lib\\getpass.py'>
hashlib                module      <module 'hashlib' from 'C<...>conda3\\Lib\\hashlib.py'>
import_pandas_safely   function    <function import_pandas_s<...>ly at 0x00000276FA3294E0>
is_data_frame          function    <function is_data_frame at 0x00000276FA32BB00>
json                   module      <module 'json' from 'C:\\<...>\Lib\\json\\__init__.py'>
name                   str         nay mon
x                      int         2

In [26]:
a = 4

In [28]:
%whos

Variable               Type        Data/Info
--------------------------------------------
a                      int         4
c                      float       9.0
dataframe_columns      function    <function dataframe_colum<...>ns at 0x00000276FA328C20>
dataframe_hash         function    <function dataframe_hash at 0x00000276FA32BB00>
dtypes_str             function    <function dtypes_str at 0x00000276FA3294E0>
get_dataframes         function    <function get_dataframes at 0x00000276FA329E40>
getpass                module      <module 'getpass' from 'C<...>conda3\\Lib\\getpass.py'>
hashlib                module      <module 'hashlib' from 'C<...>conda3\\Lib\\hashlib.py'>
import_pandas_safely   function    <function import_pandas_s<...>ly at 0x00000276FA32A2A0>
is_data_frame          function    <function is_data_frame at 0x00000276FA32B060>
json                   module      <module 'json' from 'C:\\<...>\Lib\\json\\__init__.py'>
name                   str         nay mon
x                      int         2

In [29]:
abcd = 232.4

In [30]:
b,d,e,f,g = 3,4,5.4,6.0,"test"

In [32]:
%whos int float str

Variable   Type     Data/Info
-----------------------------
a          int      4
abcd       float    232.4
b          int      3
c          float    9.0
d          int      4
e          float    5.4
f          float    6.0
g          str      test
name       str      nay mon
x          int      2

In [33]:
del abcd

In [34]:
abcd

NameError: name 'abcd' is not defined

In [38]:
c = 2+4j

In [41]:
print(type(c))

<class 'complex'>

In [43]:
s = "hello How are You"

In [44]:
print(type(s))

<class 'str'>

# Arithemetic Operator PEMDAS (Parenthesis,Exponense,Mutiply,Division,Addition,Subtraction)
    # + Addition
    # - Substraction
    # * Multiplication
    # ** to the power of 
    # / Division (float division)
    # // floor Division => 10/3 => 3 (just integer)
    # % Modulus

In [47]:
%whos int str float

Variable   Type     Data/Info
-----------------------------
a          int      4
b          int      3
d          int      4
e          float    5.4
f          float    6.0
f1         float    20.200000000000003
g          str      test
name       str      nay mon
s          str      hello How are You
x          int      2

In [49]:
address = "net ye kan"

In [50]:
nameAndAddress = name + address

In [51]:
print(nameAndAddress)

nay monnet ye kan

In [52]:
print(type(nameAndAddress))

<class 'str'>

_ (underscore meaning throwaway variable)